.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: calc(1em * (24/11));
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
}

/* TODO figure out conditional underlining */
.header__lang-link:nth-of-type(1) {
  text-decoration: underline;
}