.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
}

/* TODO figure out conditional underlining */
.header__lang-link:nth-of-type(1) {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}