.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  padding: 0;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    align-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    line-height: 110%;
    align-self: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    align-self: flex-start;
    width: 288px;
  }
}
