@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  width: calc(100vw - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px;
  grid-auto-flow: row;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

