@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  grid-auto-flow: row;
  width: calc(100% + 200px);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}