@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  grid-auto-flow: row;
  width: calc(100% + 200px);
}