.intro__subtitle {
  font-size: 24px;
  line-height: 1.42;
  margin-top: 40px;
  margin-bottom: 0;
  width: 690px;
}

@media screen and (min-width: 1281px) {
  .intro__subtitle {
    font-size: calc(100vw * (24 / 1280));
    margin-top: calc(100vw * (40 / 1280));
    width: calc(100vw * (690 / 1280));
  }
}

@media screen and (max-width: 768px) {
  .intro__subtitle {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro__subtitle {
    width: 288px; 
    line-height: 125%;
  }
}