.intro__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
  margin-top: calc(1em * (40/24));
  margin-bottom: 0;
}