.intro__subtitle {
  font-size: 24px;
  line-height: 1.42;
  margin-top: 40px;
  margin-bottom: 0;
  width: 690px;
}


@media screen and (max-width: 768px) {
  .intro__subtitle {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro__subtitle {
    width: 288px; 
    line-height: 125%;
  }
}