.intro__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
  margin-top: calc(1em * (40/24));
  margin-bottom: 0;
  width: calc(100vw * (690 / 1280));
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    line-height: 125%;
  }
}