.places {
  align-items: center;
  padding: 92px 0 0 0;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .places {
    padding: calc(100vw * (92 / 1280));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places {
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding-top: 52px;
  }
}


