.header__links {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .header__links {
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 768px) {
  .header__links {
    margin-bottom: 4px;
  }
}