.place__url-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  vertical-align: center;
}

@media screen and (min-width: 1281px) {
  .place__url-link {
    font-size: calc(100vw * (18 / 1280));
  }
}