.cover__subtitle {
  margin-top: 32px;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  width: 320px;
  z-index: 1;
}

@media screen and (min-width: 1281px) {
  .cover__subtitle {
    margin-top: calc(100vw * (32 / 1280));
    font-size: calc(100vw * (18 / 1280));
    width: calc(100vw * (320 / 1280));
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 288px; 
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
    min-height: 48px;
  }
}
