.photo-grid__item {
  display: inline-grid;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    width: 288px;
    height: 216px;
    padding-bottom: 12px;
  }
}
