/* .photo-grid__item {
  height: auto;
} */

@media screen and (max-width: 425px) {
  .photo-grid__item {
    height: 216px;
    margin-bottom: 12px;
  }
}

/* @media screen and (min-width: 425px) and (max-width: 767px) {
  .photo-grid__item {
    width: calc(100vw - 48px);
    height: calc(75vw - 48px);
    padding-bottom: 14px;
  }
} */