.photo-grid__item {
  display: inline-grid;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    width: 288px;
    height: 216px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .photo-grid__item {
    width: calc(100vw - 48px);
    height: calc(75vw - 48px);
    padding-bottom: 14px;
  }
}


