@import url(./__lang-link/header__lang-link.css);

.header {
  width: 100%;
  height: 44px;
  background-color: #2A2C2F;
  display: grid;
  grid-template-columns: auto 29px 29px;
  grid-gap: 18px;
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: auto 5.8vw 5.8vw;
    height: 7.2vw;
    grid-gap: 3.6vw;
  }
}

