@import url(./__links/header__links.css);
@import url(./__link/header__link.css);
@import url(./__link/_deco/header__link_deco_underline.css);

.header {
  background-color: #2A2C2F;
  padding: 2.65vw 11.5625vw 0 11.5625vw;
  font-family: 'Inter', sans-serif;
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 6.25vw 5vw 0 5vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding: 3.32vw 4.69vw 0 4.69vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 4.427vw 3.125vw 0 3.125vw;
  }
}



