.place__text {
  font-size: 18px;
  line-height: 1.67;
  margin: 0 0 24px 0;
}

.place__text:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) and (min-width: 1023px) {
  .place__text {
    width: 352x;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    width: 288px;
  }
}