.place__text {
  font-size: 18px;
  line-height: 1.67;
  margin: 0 0 24px 0;
  width: 100%;
}

.place__text:last-of-type {
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .place__text {
    font-size: calc(100vw * (18 / 1280));
    margin: 0 0 calc(100vw * (24 / 1280)) 0;
  }
}


@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    width: 288px;
  }
}