.header__link {
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  margin-left: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
  }
}
