.lead__title {
  
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__title {
    margin-top: 58px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__title {
    margin-top: 50px;
  }
}