.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 0;
  width: 720px;
}

@media screen and (min-width: 1281px) {
  .lead__title {
    font-size: calc(100vw * (96 / 1280));
    margin-top: calc(100vw * (58 / 1280));
    width: calc(100vw * (720 / 1280));
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    width: 288px;
  }
}