.logo {
  background-image: url("../../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    background-size: 100% 100%;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    background-size: 100% 100%;
    height: 36px;
  }
}
