.footer__links {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1500px) {
  .footer__links {
    grid-template-columns: auto auto auto;

  }
}