.footer__copyright {
  width: 168px;
  grid-column: 3;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: white;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1281px) {
  .footer__copyright {
    line-height: 100%;
    margin: 0 0 calc(100vw * (24 / 1280)) 0;
    font-size: calc(100vw * (14 / 1280));
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    line-height: 100%;
    text-align: left;
    margin: 16px 0 24px 0;
  }
}
