.footer__copyright {
  /* width: calc(100vw * (168 / 1280)); */
  width: 168px;
  grid-column: 3;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
}