.lead__image {
  width: 100%;
}

@media screen and (min-width: 1281px) {
  .lead__image {
    width: calc(100vw - 23.125vw);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
  }
}