.intro__text {
  font-size: 18px;
  line-height: 1.67;
  margin: 32px 0 32px 0;
  width: 690px;
}

@media screen and (min-width: 1281px) {
  .intro__text {
    font-size: calc(100vw * (18 / 1280));
    margin: calc(100vw * (32 / 1280)) 0;
    width: calc(100vw * (690 / 1280));
  }
}

@media screen and (max-width: 1023px) {
  .intro__text {
    font-size: 16px;
    line-height: 162%;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    width: 288px;
  }
}