@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item/_text/intro__list-item_text_bold.css);

.intro {
  align-self: flex-start;
  width: calc(100% * (690/984));
}