.root {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 11.5625vw 0 11.5625vw;
  box-sizing: border-box;
  margin: 0;
  align-self: center;

  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;  
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .root {
    padding: 0 4.69vw 0 4.69vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .root {
    padding: 0 3.125vw 0 3.125vw;
  }
}

@media screen and (max-width: 767px) {
  .root {
    padding: 0 5vw 0 5vw;
  }
}