.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  width: 620px;
  margin: 32px 0 64px 0;
}

@media screen and (min-width: 1281px) {
  .lead__subtitle {
    font-size: calc(100vw * (30 / 1280));
    margin-top: calc(100vw * (32 / 1280));
    margin-bottom: calc(100vw * (64 / 1280));
    width: calc(100vw * (620 / 1280));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
    font-size: 16px;
    line-height: 1.25;
    width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
    font-size: 16px;
    line-height: 1.25;
  }
}