@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
@import url(./__text-container/cover__text-container.css);

.cover {
  width: calc(100% + 216px);
  position: relative;
  align-self: center;
}