@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__background/cover__background.css');

.cover {
  width: calc(100vw - 96px);
  position: relative;
  align-self: center;
  text-align: center;
  height: 740px;
  margin: 92px 0;
}

.cover:hover {
  opacity: 0.3;
}

@media screen and (min-width: 1281px) {
  .cover {
    width: 92.5vw;
    height: calc(100vw * (740 / 1280));
    margin: calc(100vw * (92 / 1280));
  }
}

@media screen  and (max-width: 1279px) {
  .cover {
    width: calc(100vw - 96px);
    height: calc(100vw * (740 / 1280));
  }  
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100vw;
    height: calc(100vw * (640 / 1024));
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;    
  }
}

@media screen  and (max-width: 600px) {
  .cover {
    margin-bottom: 64px;    
  }
}