@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
@import url(./__text-container/cover__text-container.css);

.cover {
  width: 100%;
  position: relative;
  align-self: center;
  text-align: center;
  height: calc(100vw * (740 / 1280));
}

@media screen and (min-width: 1024) and (max-width: 1279px) {
  .cover {
    width: 100vw;
    height: calc(100vw * (640 / 1024));
  }
}

@media screen and (min-width: 768) and (max-width: 1023px) {
  .cover {
    height: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    height: 100vw
  }
}