.cover__background {
  height: 100%;
  width: 100%;
  background-image: url("../../../images/cover-route-66.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
