.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  padding: 8px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .lead__caption {
    font-size: calc(100vw * (10 / 1280));
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}