@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__text/place__text.css);
@import url(./__link/place__link.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url-link/place__url-link.css);
@import url(./__description//place__description.css);

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
  }
}