@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__text/place__text.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__url-link/place__url-link.css');
@import url('./__description/place__description.css');

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 48px;
  width: 984px;
  padding-bottom: 80px;
  margin: 0;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 1025px) {
  .place:nth-of-type(2) {
    padding-bottom: 88px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    width: calc(100vw - 96px);
    column-gap: 32px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1000px) {
  .place {
    grid-template-columns: calc(100vw * (340 / 768)) calc(100vw * (352 / 768));
    column-gap: 28px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    width: 100%;
    align-items: center;
    position: relative;
  } 
}

@media screen and (max-width: 425px) {
  .place {
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
  } 
}