@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: grid;
  grid-template-columns: calc(100vw * (211 / 1280)) auto 168px;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
  }
}