@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: grid;
  grid-template-columns: 211px auto 168px;
  width: calc(100% + 216px);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    width: 100%;
  }
}