@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  font-family: 'Inter', 'Arial', sans-serif;
  text-align: left;
  display: grid;
  grid-template-columns: calc(100vw * (211 / 1280)) auto 168px;
  background-color: #2A2C2F;
  box-sizing: border-box;
  padding: 0 48px 24px 48px;  
  align-items: start;
}

@media screen and (min-width: 1281px) {
  .footer {
    padding: 0 calc(100vw * (48 / 1280)) (100vw * (24 / 1280)) calc(100vw * (48 / 1280)); 
    grid-template-columns: calc(100vw * (211 / 1280)) auto calc(100vw * (168 / 1280));
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}