@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: grid;
  grid-template-columns: calc(100vw * (211 / 1280)) auto 168px;
  /* grid-template-columns: calc(100vw * (211 / 1280)) auto calc(100vw * (168 / 1280)); */
  width: calc(100vw + (216 / 1280));
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .footer {
    width: 100%;
  }
}