.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (min-width: 1281px) {
  .place__url-heading {
    font-size: calc(100vw * (12 / 1280));
  }
}