.photo-grid__image {
  display: inline-grid;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .photo-grid__image {
    width: 288px;
    height: 100%;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .photo-grid__image {
    width: calc(100vw - 48px);
    height: calc(75vw - 48px);
    padding-bottom: 14px;
  }
}


