.intro__title {
  position: relative;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-top: 92px;
  margin-bottom: 0;
  width: 690px;
}

@media screen and (min-width: 1281px) {
  .intro__title {
    font-size: calc(100vw * (54 / 1280));
    margin-top: calc(100vw * (92 / 1280));
    width: calc(100vw * (690 / 1280));
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    width: calc(100vw - 48px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    width: 288px;
  }
}

