.intro__title {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: #FFFFFF;
  margin-top: 92px;
  margin-bottom: 0;
  width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    width: calc(100vw - 48px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
    width: 288px;
  }
}

